<div id="<%= dom_id booking %>">
  <p>
    <strong>User:</strong>
    <%= booking.user_id %>
  </p>

  <p>
    <strong>Mover:</strong>
    <%= booking.mover_id %>
  </p>

  <p>
    <strong>Apartment size:</strong>
    <%= booking.apartment_size_id %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= booking.rating_id %>
  </p>

  <p>
    <strong>Box:</strong>
    <%= booking.box_id %>
  </p>

  <p>
    <strong>Pickup address:</strong>
    <%= booking.pickup_address %>
  </p>

  <p>
    <strong>Destination address:</strong>
    <%= booking.destination_address %>
  </p>

  <p>
    <strong>Distance:</strong>
    <%= booking.distance %>
  </p>

  <p>
    <strong>Book date:</strong>
    <%= booking.book_date %>
  </p>

  <p>
    <strong>Book time:</strong>
    <%= booking.book_time %>
  </p>

  <p>
    <strong>Quotation:</strong>
    <%= booking.quotation %>
  </p>

</div>
