<%= form_with(model: booking) do |form| %>
  <% if booking.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
        <% booking.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id %>
  </div>

  <div>
    <%= form.label :mover_id, style: "display: block" %>
    <%= form.text_field :mover_id %>
  </div>

  <div>
    <%= form.label :apartment_size_id, style: "display: block" %>
    <%= form.text_field :apartment_size_id %>
  </div>

  <div>
    <%= form.label :rating_id, style: "display: block" %>
    <%= form.text_field :rating_id %>
  </div>

  <div>
    <%= form.label :box_id, style: "display: block" %>
    <%= form.text_field :box_id %>
  </div>

  <div>
    <%= form.label :pickup_address, style: "display: block" %>
    <%= form.text_field :pickup_address %>
  </div>

  <div>
    <%= form.label :destination_address, style: "display: block" %>
    <%= form.text_field :destination_address %>
  </div>

  <div>
    <%= form.label :distance, style: "display: block" %>
    <%= form.number_field :distance %>
  </div>

  <div>
    <%= form.label :book_date, style: "display: block" %>
    <%= form.date_field :book_date %>
  </div>

  <div>
    <%= form.label :book_time, style: "display: block" %>
    <%= form.time_field :book_time %>
  </div>

  <div>
    <%= form.label :quotation, style: "display: block" %>
    <%= form.number_field :quotation %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
