<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :primary_email, style: "display: block" %>
    <%= form.text_field :primary_email %>
  </div>

  <div>
    <%= form.label :secondary_email, style: "display: block" %>
    <%= form.text_field :secondary_email %>
  </div>

  <div>
    <%= form.label :primary_phone_number, style: "display: block" %>
    <%= form.text_field :primary_phone_number %>
  </div>

  <div>
    <%= form.label :secondary_phone_number, style: "display: block" %>
    <%= form.text_field :secondary_phone_number %>
  </div>

  <div>
    <%= form.label :image, style: "display: block" %>
    <%= form.text_field :image %>
  </div>

  <div>
    <%= form.label :password_digest, style: "display: block" %>
    <%= form.text_field :password_digest %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
