<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Primary email:</strong>
    <%= user.primary_email %>
  </p>

  <p>
    <strong>Secondary email:</strong>
    <%= user.secondary_email %>
  </p>

  <p>
    <strong>Primary phone number:</strong>
    <%= user.primary_phone_number %>
  </p>

  <p>
    <strong>Secondary phone number:</strong>
    <%= user.secondary_phone_number %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= user.image %>
  </p>

  <p>
    <strong>Password digest:</strong>
    <%= user.password_digest %>
  </p>

</div>
