<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Booking Confirmation</h1>
    <p>Here is your move order from <%= @booking.mover.name %>!</p>
    <p>
      ----------------------------------------------------------
    </p>
    <ul>
      <li>Date of Move => <%= @booking.book_date %></li>
      <li>Pickup Location => <%= @booking.pickup_address %></li>
      <li>Drop Location => <%= @booking.destination_address %></li>
      <li>Distance => <%= @booking.distance %> km</li>
      <li>Rate per km => Sh. <%= @booking.mover.rate_per_km %></li>
      <li>Labour => <%= @booking.apartment.labour %> service men.</li>
      <li>Labour cost => Sh. <%= @booking.apartment.labour_cost %></li>
      <li>Range of boxes => <%= @booking.box.range %></li>
      <li>Rate per box range => Sh. $<%= @booking.box.cost_to_move_boxes %></li>
    </ul>
    <h6>Total cost: <strong>Shs. <%= @booking.quotation %></strong></h6>
    <p>We are glad to be of service. We shall contact you soon.</p>
  </body>
</html>
