<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    
<h3>Dear <%=@booking.user.name%></h3>
<h3>Here is your move order from <%= @booking.mover.name %>!</h3>
<h3>We are glad to be of service. We shall contact you soon.</h3>

    <ul>
      
<li>Date of Move        : <%= @booking.book_date %></li>
<li>Pickup Location       : <%= @booking.pickup_address %></li>
<li>Drop Location       : <%= @booking.destination_address %></li>
<li>Distance        : <%= @booking.distance %> km</li>
<li>Rate per km       : Sh. <%= @booking.mover.rate_per_km %></li>
<li>Labour        : <%= @booking.apartment.labour %> service men.</li>
<li>Labour cost       : Sh. <%= @booking.apartment.labour_cost %></li>
<li>Range of boxes        : <%= @booking.box.range %></li>
<li>Rate per box range        : Sh. $<%= @booking.box.cost_to_move_boxes %></li>

    </ul>
    
<h2>Total cost        : <strong>Shs. <%= @booking.quotation %></strong></h2>

  </body>
</html>
